body {
    margin: 0;
    padding: 0;
}

Canvas {
    position: fixed;
    top: 0;
    left: 0;
}

Canvas:focus {
    outline: 0;
}

/* .test {
    border: 1px solid red;
    position: absolute;
    top: 50px;
} */

.letter {
    position: absolute;
    top: 50px;
    left: 100px;
}

.display {
    position: absolute;
    font-family: "Teko", sans-serif;
    /* text-transform: uppercase; */
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
    line-height: 1em;
    pointer-events: none;
    color: indianred;
    font-size: 2rem;
    /* transform: skew(5deg, 5deg); */
    /* pointer-events: all; */
}

.level {
    top: 50px;
    left: 50px;
    transform: skew(5deg, 5deg);
}

.score {
    bottom: 50px;
    right: 50px;
    transform: skew(5deg, 5deg);
}

.message {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50vh;
}

.userkey {
    bottom: 50px;
    left: 100px;
    /* transform: skew(-5deg, -5deg); */
}

.typetime {
    top: 50px;
    right: 50px;
    transform: skew(-5deg, -5deg);
}

.ui {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* color: red; */
    /* background-color: red; */
    opacity: 0.5;
    font-size: 3rem;
}

.number {
    display: inline;
}

.key-score {
    font-family: "Teko", sans-serif;
    position: fixed;
    /* transform: skew(-5deg, -5deg); */
    height: 95%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 2rem;
    color: forestgreen;
    top: 0;
    left: 20px;
}

.key-score > div {
    /* width: 10%; */
    height: 5vw;
    width: 5vw;
    border: 2px solid forestgreen;
    border-radius: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
}

.test {
    position: fixed;
    bottom: 0;
    left: 0;
}
