* {
    --color01: #e85d75;
    --color02: #c76d7e;
    --color03: #9f8082;
    --color04: #8d918b;
    --color05: #ad9b9a;
    font-family: "Teko", sans-serif;
}

Canvas {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: -1;
}

Canvas:focus {
    outline: 0;
}

.letter {
    position: absolute;
    top: 50px;
    left: 100px;
}

.display {
    position: absolute;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
    line-height: 1em;
    pointer-events: none;
    /* padding: 0.5rem 1rem; */
    color: grey;
    box-shadow: 0px 2px 4px #00000020, 0px 2px 5px #00000030;
    font-size: 1.5rem;
    /* transform: skew(5deg, 5deg); */
    /* pointer-events: all; */
}

/* .level {
    top: 50px;
    left: 50px;
    transform: skew(5deg, 5deg);
} */

.score {
    bottom: 50px;
    right: 50px;
    transform: skew(5deg, 5deg);
}

.message {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50vh;
}

.userkey {
    padding: 0.5rem 1rem;
    bottom: 50px;
    left: 50px;
    /* transform: skew(-5deg, -5deg); */
}

.typetime {
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
}

.typetime > div {
    padding: 0.5rem 1rem;
}

.typetime > .selected {
    background-color: var(--color05);
    color: white;
}

.ui {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* color: red; */
    /* background-color: red; */
    opacity: 0.5;
    font-size: 3rem;
}

.number {
    display: inline;
}

.key-score-container {
    position: absolute;
    top: 0;
    right: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key-score {
    /* position: fixed; */
    height: 90%;
    font-size: 2rem;
    color: white;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 8vh;
    justify-items: start;
    align-items: center;
    align-content: stretch;
    row-gap: 1%;
}

.key-score > div {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
    color: white;
    font-size: 2rem;
    background-color: seagreen;
    /* text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030; */
    box-shadow: 0px 2px 4px #00000020, 0px 2px 5px #00000030;

    justify-self: stretch;
    align-self: stretch;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: 2px; */
}

.test {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* .menu {
    position: absolute;
    z-index: 1;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
}

.menu > div {
    cursor: pointer;
    width: 100px;
    font-size: 1rem;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}
*/

/* .menu {
    border: 1px solid black;
}

.play {
    border: 1px solid black;
    width: 100px;
}
.play > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 0 0.5rem;
    color: white;
    font-size: 2rem;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
} */
.menu {
    cursor: pointer;
    user-select: none;
    z-index: 1;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
    color: white;
    font-size: 2rem;
    /* text-shadow: 0px 2px 4px #00000020, 0px 2px 5px #00000030; */
    box-shadow: 0px 2px 4px #00000020, 0px 2px 5px #00000030;
    position: absolute;
    line-height: 2.5rem;
    height: 40px;
    display: flex;
    text-align: center;
}

.btn:hover {
    border-bottom: 1px solid white;
}
.help {
    background-color: var(--color01);
    width: 60px;
}
.level {
    background-color: var(--color02);
    width: 200px;
}

.play {
    background-color: var(--color04);
    width: 200px;
}

.stop {
    background-color: var(--color05);
}

.level-menu {
    height: 100%;
    width: 50px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.level-item {
    cursor: pointer;
    /* width: 100%; */
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: lightslategray;
    color: white;
    box-shadow: 0px 2px 4px #00000020, 0px 2px 5px #00000030;
}

.level-item.active {
    background-color: rgb(53, 66, 70);
}

.level-item-number {
    width: 50px;
}

.level-item-keys-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

.level-item-key {
    width: 20px;
    height: 20px;
    background-color: seagreen;
    box-shadow: 0px 2px 4px #00000020, 0px 2px 5px #00000030;
    color: white;
}

.level-item-img-container > img {
    width: 100px;
}
.winning-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
}

.testing {
    font-size: 2rem;
    width: 400px;
    height: 100px;
}

.helper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.helper > div {
    max-width: 80%;
    background-color: white;
}
